/* page */
body {
    background-color: #586A14;
    margin: 0px 50px 50px 50px;
}

figure {
    margin: 0;
}

img {
    height: 400px;
    width: 400px;
}

/* section titles */
h1, h2 {
    text-align: center;
    color: #C70C17;
    text-shadow: 1px 3px 5px black;
}

h1 {
    font-size: 50px;
}

h2 {
    margin-top: 70px;
    font-size: 30px;
}

/* images */
.images {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#soulquarians {
    height: 250px;
    width: 400px;
}

figcaption {
    color: #FF9002;
}

a:link, a:visited {
    color: #FF9002;
}

a:hover {
    color: #C70C17;
}